[Desktop Entry]
Version=1.0
Type=Application
Name=Gyroflow
Comment=Video stabilization using gyroscope data
Exec=gyroflow
Icon=xyz.gyroflow.Gyroflow
Categories=Utility;HardwareSettings;
